<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <input type="hidden" th:field="*{student.id}" />
  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required />
  </div>
  <div>
    <label for="kanaName">カナ名</label>
    <input type="text" id="kanaName" th:field="*{student.kanaName}" required />
  </div>
  <div>
    <label for="nickName">ニックネーム</label>
    <input type="text" id="nickName" th:field="*{student.nickname}" required />
  </div>
  <div>
    <label for="email">メールアドレス</label>
    <input type="email" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="area">地域</label>
    <input type="text" id="area" th:field="*{student.area}"/>
  </div>
  <div>
    <label for="age">年齢</label>
    <input type="text" id="age" th:field="*{student.age}" required/>
  </div>
  <div>
    <label for="sex">性別</label>
    <input type="text" id="sex" th:field="*{student.sex}"/>
  </div>
  <div>
    <label for="remark">備考</label>
    <textarea id="remark" th:field="*{student.remark}"></textarea>

  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <input type="hidden" th:field="*{studentsCourses[__${stat.index}__].id}" />
    <input type="hidden" th:field="*{studentsCourses[__${stat.index}__].studentId}" />

    <label for="courseName">受講コース名:</label>
    <input type="text" id="courseName" th:id="*{studentsCourses[__${stat.index}__].courseName}" th:field="*{studentsCourses[__${stat.index}__].courseName}">
  </div>
  <div>
    <button type="submit">更新</button>
  </div>

</form>
</body>
</html>